// 英文
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap');

//中文
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;700&display=swap');

// 這邊是預設區，要變動請告知。
// 色票
$darkbrown1: #353231;
$beidge1: #EEEAE2;
$white: #FFFFFF;

$darkbrown2: #786B54;
$coffeebrown: #AB8A49;
$lightgray: #C3BDB3;
$beidge2: #E3DED4;


//文字樣式
$boldWeight: 700;
$mediumWeight: 500;
$regularWeight: 400;
$lightWeight: 300;

$h1: 4.125rem; //66px
$h2: 3.5rem; //56px
$h3: 2.75rem; //44px
$h4: 2.25rem; //36px
$h5: 2rem; //32px
$h6: 1.75rem; //28px


// $h7: 24px; //1.5rem
// $h8: 20px; //1.25rem
// $h9: 16px; //1rem
// $h10: 14px; //0.875rem
$p: 0.75rem; //12px


$letterSpacing1: 0.1rem;
$letterSpacing5: 0.5rem;


$lineheight1: 150%;
$lineheight2: 200%;

// 中文
$fontNoserif: 'Noto Sans TC';
$fontSerif:'Noto Serif TC';


// 英文
$englishFont: 'Cinzel';
