// 色票
$darkbrown1: #353231;
$beidge1: #EEEAE2;
$white: #FFFFFF;

$darkbrown2: #786B54;
$coffeebrown: #AB8A49;
$lightgray: #C3BDB3;
$beidge2: #E3DED4;



//文字樣式
$fontWeight: (
    'bold': 700,
    'medium': 500, 
    'regular': 400, 
    'light': 300 
);

$h1: 66px;//4.125rem
$h2: 56px;//3.5rem
$h3: 44px;//2.75rem
$h4: 36px;//2.25rem
$h5: 32px; //2rem
$h6: 28px;//1.75rem

// $h7: 24px; //1.5rem
// $h8: 20px; //1.25rem
// $h9: 16px; //1rem
// $h10: 14px; //0.875rem
$p: 12px; //0.75rem


// $lineheight: 200%;

// 中文
$fontNoserif: 'Noto Sans TC'; 
$fontSerif:'Noto Serif TC';

// 英文
$englishFont: 'Cinzel';


