// 套件連結
// @import '/node_modules/bootstrap/scss/bootstrap.scss'; //待解決

@import './vendor/bootstrap.min';
// @import './vendor/jquery.multiscroll';
// @import './vendor/fullpage';


// 共用區
@import './base/reset';
@import './base/var';
@import './layout/header';
@import './layout/footer';
// @import './layout/login';
// @import './layout/nav';
// @import './layout/RWD';





//前台頁面
@import './page/frontend/checkout';
@import './page/frontend/index';
@import './page/frontend/shop';
@import './page/frontend/product_info';
@import './page/frontend/puzzle';
@import './page/frontend/puzzle_choice';
@import './page/frontend/puzzle_popup';
@import './page/frontend/online_gallery';
@import './page/frontend/_online_gallery_exhibition';
@import './page/frontend/exhibition';
@import './page/frontend/psychol_test';
@import './page/frontend/psychol_test_q1';
@import './page/frontend/psychol_test_q2';
@import './page/frontend/psychol_test_q3';
@import './page/frontend/psychol_test_q4';
@import './page/frontend/psychol_test_q5';
@import './page/frontend/psychol_test_resultA';
@import './page/frontend/psychol_test_resultB';
@import './page/frontend/psychol_test_resultC';
@import './page/frontend/psychol_test_resultD';

// 這邊是預設區，要變動請告知。
body{
    font-family: $fontSerif, $fontNoserif, $englishFont;
    font-weight: $mediumWeight; //預設
    background-color: $beidge1;
    
    .wrapper{
        h1{
            font-size: $h1;
        }
        
        h2{
            font-size: $h2;
        }
        
        h3{
            font-size: $h3;
        }
        
        h4{
            font-size: $h4;
        }
        
        h5{
            font-size: $h5;
        }
        
        h6{
            font-size: $h6;
        }
        
        
        p{
            font-size: $p;
        }
    }
   
}















