.wrapper_footer {
    background-color: #353231;
    color: #eeeae2;
    width: 100%;
    height: 500px;
    font-family: 'Cinzel','Noto Serif TC', serif;

    .f_bac {
        width: 90%;
        margin: 0 auto;
    }

    .f_bottom i {
        color: #eeeae2;
        font-size: 20px;
        letter-spacing: 30px;
        transition: 0.5s;
    }

    .f_bottom i:hover {
        color: #ab8a49;
    }

    .f_bottom img {
        transition: 0.5s;
    }

    .f_bottom img:hover {
        filter: sepia(1);
    }

    .f_bottom a {
        text-decoration: none;
        color: #eeeae2;
    }

    .f_bottom {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer_logo {
        height: 150px;
    }

    .footer_logo img {
        height: 50px;
        margin-bottom: 100px;
    }

    .f_bottom .left {
        margin-bottom: 80px;
    }

    .f_bottom ul {
        display: flex;
    }

    .f_bottom .right {
        font-size: 12px;
        display: flex;
        letter-spacing: 3px;
    }

    .gallery_opening,
    .gallery_address {
        h6 {
            // text-align: left;
            letter-spacing: 5px;
            line-height: 3;
            font-weight: bold;
        }
        p {
            line-height: 3;
        }
    }

    .gallery_address {
        margin-left: 30px;
    }

    .f_bottom .right h6 {
        letter-spacing: 2px;
        font-size: 1rem;
    }

    .copyright {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #eeeae2;
    }

    .copyright p {
        font-family: "Cinzel";
        margin-top: 20px;
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-size: 12px;
    }

    .copyright ul {
        display: flex;
    }
    .copyright li {
        font-size: 10px;
        margin-left: 20px;
    }

    .copyright_reference {
        font-size: 10px;
        line-height: 2;
        letter-spacing: 2px;
    }

    .f_bottom #c3 {
        letter-spacing: 1px;
    }

    .f_bottom .footer_top {
        display: flex;
    }

    .mob_footer {
        display: none;
    }

    // mobile version
    @media (max-width: 794.98px) {
        .f_bottom {
            display: none;
        }
        .wrapper_footer {
            width: 100%;
            height: 100%;
        }
        .mob_footer {
            position: static;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            padding: 0;
        }
        .mob_footer .right {
            display: block;
        }
        .mob_footer ol {
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 5px;
            line-height: 4.5;
            text-align: center;
        }
        .mob_footer i {
            font-size: 30px;
            padding-left: 10px;
            cursor: pointer;
            margin-top: 30px;
        }
        .mob_footer li{
            list-style: none;
        }
        .mob_footer .right p {
            display: none;
        }
        .footer_icon--level {
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
        .footer_logo img {
            height: 100px;
            margin: 0;
            padding: 0;
        }
        .footer_icon--level i {
            font-size: 35px;
            padding-right: 25px;
            color: #eeeae2;
            line-height: 2;
        }
        .copyright_reference {
            display: none;
        }
        .copyright {
            display: none;
        }
        .copyright_mobile {
            margin: 0 auto;
            text-align: center;
            font-size: 10px;
            line-height: 1.5;
            font-family: "Cinzel";
        }
    }
}
