.wrapper_header {
    a {
        text-decoration: none;
        color: #353231;
    }

    .header_bac {
        background-color: #353231;
        color: #eeeae2;
        display: flex;
        height: 70px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        text-align: center;
    }

    .head_icon {
        color: #eeeae2;
        font-size: 30px;
        transition: 0.5s;
        margin-top: 20px;
    }

    i:hover {
        opacity: 0.7;
        color: #c3bdb3;
    }

    /* header logo */
    .h_logo img {
        height: 70px;
        transition: 0.5s;
    }

    .h_logo img:hover {
        filter: sepia(1);
    }

    .header_bac a {
        text-decoration: none;
        text-align: left;
        color: #eeeae2;
    }

    .header_bac ul {
        display: flex;
    }

    li {
        list-style: none;
        margin-right: 20px;
    }

    p {
        font-size: 12px;
        line-height: 2;
    }

    .h_logo {
        margin-left: 60px;
    }

    .h_navbar {
        margin-right: 60px;
    }

    .h_nav {
        display: flex;
    }

    /* 選單icon */
    .hamburger {
        padding: 15px 10px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding-top: 20px;
        overflow: visible;
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger.is-active:hover {
        opacity: 0.7;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        opacity: 0.7;
    }

    .hamburger-box {
        width: 40px;
        height: 30px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 40px;
        height: 2px;
        background-color: #eeeae2;
        border-radius: 1px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner {
        width: 28px;
        transform: rotate(180deg);
    }

    .hamburger-inner::after {
        width: 20px;
        transform: rotate(180deg);
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    /* 選單點擊效果 */
    .hamburger--slider .hamburger-inner {
        top: 2px;
    }

    .hamburger--slider .hamburger-inner::before {
        top: 10px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
    }

    .hamburger--slider .hamburger-inner::after {
        top: 20px;
    }

    .hamburger--slider.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(45deg);
        width: 40px;
    }

    .hamburger--slider.is-active .hamburger-inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }

    .hamburger--slider.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
    }

    /* burger 點擊效果 */
    .hamburger--squeeze .hamburger-inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze .hamburger-inner::before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    .hamburger--squeeze .hamburger-inner::after {
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze.is-active .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        width: 40px;
    }

    .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    .hamburger--squeeze.is-active .hamburger-inner::after {
        width: 40px;
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    /* 選單列 */

    .nav-list {
        position: fixed;
        z-index: 100;
        right: 0;
        top: 70px;
        background-color: #c3bdb3;
        width: 300px;
        display: none;
        height: 100vh;
    }

    .nav_top {
        display: flex;
        flex-direction: column;
        margin: 25px 50px 0 0;
    }

    .nav_top ol {
        padding: 30px 0 0 0;
        font-weight: bold;
        font-size: 1.2em;
        letter-spacing: 5px;
        margin-left: 35%;
    }

    .nav_top li {
        list-style: none;
        font-size: 1rem;
        line-height: 1.8;
    }

    .nav-list a {
        transition: 0.5s;
        color: #353231;
    }

    .nav-list a:hover {
        color: #eeeae2;
    }

    /* 網頁捲軸 寬度 */
    ::-webkit-scrollbar {
        width: 20px;
    }

    /* 網頁捲軸 背景 顏色 */
    ::-webkit-scrollbar-track {
        background: #353231;
    }

    /* 網頁捲軸 把手 顏色 */
    ::-webkit-scrollbar-thumb {
        background: #eeeae2;
    }

    /* 網頁捲軸 滑過把手 的顏色 */
    ::-webkit-scrollbar-thumb:hover {
        background: #e3ded4;
    }
    .nav-list ol {
        text-align: left;
    }

    .nav-list ol li {
        display: flex;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        white-space: nowrap;
        padding: 3px 0;
        display: none;
    }

    .nav-list ol i {
        color: #353231;
        font-size: 1rem;
        font-weight: lighter;
        cursor: pointer;
        transition: 0.5s;
        padding-left: 10px;
    }

    .nav-list ol i:hover {
        color: #eeeae2;
    }

    .sub_nav {
        cursor: pointer;
    }

    .on {
        display: inline-block !important;
    }
    // header rwd
    @media (max-width: 768px) {
        .nav-list{
            background-color: rgba(0, 0, 0, .5);
            background-blend-mode: multiply;
            background-image: url("../img/navbac.jpg");
            background-size: cover;
            background-position: center center;
        }
        .nav-list ul ol a, #tg1, #tg2{
            color: #eeeae2;
        }
        .nav-list ul a:hover{
            color: #353231;
        }
        .h_logo {
            margin-left: 10px;
        }
    
        .h_navbar {
            margin-right: 10px;
        }
    }
}
