.wrapper_loading{
    #loading {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #353231 no-repeat center center;
        background-size: cover;
        z-index: 99999;
    }

    #loading_type {
        font-family: 'Cinzel', 'Noto Serif TC';
        position: absolute;

        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
        color: #eeeae2;
        text-align: center;
        font-weight: bold;
        letter-spacing: 5px;
        line-height: 2;
        animation: glow 2s ease-in-out infinite alternate;
    }

    @keyframes glow {
        50% {
            text-shadow: 0 0 15px #eeeae2;
        }

        100% {
            text-shadow: 0 0 20px #AB8A49;
            letter-spacing: 6px;
        }
    }
}