.wrapper {
    .channel {
        display: flex;
        margin: 30px;
        
    }
        .fs-6 {
            margin: 20px 30px;
        
        }

    .list_co {
        display: flex;
    }
    li {
        margin: 10px 20px;
    }

    .table {
        margin: 0 25px;
    }
    .size {
        width: 70px;
    }
        img {
            display: block;
            width: 100%;
            padding: 10px;
        }

    // 編輯查看視窗
    .edit_lay {
        display: flex;
    }
     
}