.wrapper_melon{
    .header_potter{
        display: flex;
        justify-content: space-between;
        .logo {
            width: 100px;
            margin: 0 100px;
            position: relative;
                img {
                    display: block;
                    width: 100%;
                    margin: 30px 0;
                }
        }
    .con_h6 {
        margin: 80px 50px;
        padding: 0 40px;
               
    }   
        h6 {
            color: black;
            font-size: 1.5rem;
        }
    
        
    }
    // ----------------left-side ------------


    // ---------------------------------------
    .sideLeft {
    display: flex;
    border-top: 1px solid black;
    }
    .content_left {
        background-color: black;
        width: 200px;
        text-align: center;
    }       
        .wd-border {
            color: #fff;
            padding: 20px 0;
            border-bottom: 1px solid white;  
            width: 80%;
            margin: 0 auto;
            cursor: default;             
        }


    .left_ti {
        display: flex;
        flex-direction: column;
    }

    .side_left {
        display: block;
        width: 200px;
        height: 300px;
        a:hover {
            color: #ec8744;
        }
}        
    .ba_bk {
        background-color: black;
    }
        ol {
            margin: 20px 0;

        }
            
            a {
                text-decoration: none;
                color: #fff;
            }

    //共用區 
    .ju_between {
        justify-content: space-between;
    }
    .pa_d {
        padding: 2px;
    }
    .level {
        display: flex;
    }
    .table_td--center {
        text-align: center;
    }
    .sideRight{
        margin: 0 auto;
    }
    .table_img_block {
        width: 70px;
    }   img {
        display: block;
    }
    .table_color {
        background-color: #cbbcb2;
    }

    .page_title {
        margin: 38px 0 0 0;
    }
    .page_title2 {
        margin: 26px 0 0;
    }

    .modal_status--level {
        display: flex;
        padding: 10px;
    }

    .channel-around {
        display: flex;
        justify-content: space-around;
        margin:30px;
    }
    // -------------------------
    //  check box
    // --------------------------- 
    .form-check-borad {
        margin:0 10px 0;
    }

    .form_middle {
        vertical-align: middle;
    }
      // -------------------------
    //  modal 
    // --------------------------- 

    .input-borad {
        margin: 10px;
    }
     // -------------------------
    //  file modal 
    // --------------------------- 

    .file-borad {
        margin: 20px auto;
    }
    .file-borad2 {
        margin: 10px auto;
    }
    .preview {
        max-width: 150px;
        max-height: 150px;
    }
}


