<<<<<<< HEAD
.wrapper {
    .header {
        display: flex;
        justify-content: space-between;
        .logo {
            width: 50px;
            margin: 0 50px;
                img {
                    width: 100%;
=======
body {
    margin: 0;
    padding: 0;

}


.header {
    display: flex;
    justify-content: space-between;
    .logo {
        width: 50px;
        margin: 0 20px;
            img {
                width: 100%;
                margin: 20px 0;
            }
    }
    .con_h6 {
       margin: -10px 20px 0 0;
       padding: 0 40px;
        h2{
           
            padding: 0 45px;
        
        }
    }

    
}
//  left-side ------------

// ------------------------------
section .sideLeft {
    display: flex;
    flex-direction: column;

}   .content_left {
    margin: 0 20px;
    background-color: black;
    width: 180px;
    text-align: center;
}           h2 {
                color: #fff;
}
    .side_left {
        display: block;
        width: 200px;
}           ul {
            // background-color: black;
        }           
                ol {
>>>>>>> ciaoli
                    margin: 20px 0;
                }
        }
    .con_h6 {
        margin: 25px 0 0;
        padding: 0 40px;
               
    }   
        h6 {
            color: black;
        }
    
        
    }
// ----------------left-side ------------


// ---------------------------------------
.sideLeft {
    display: flex;
    border-top: 1px solid black;
}
    .content_left {
        background-color: black;
        width: 200px;
        text-align: center;
    }       
        .wd-bord {
            color: #fff;
            padding: 20px 0;
            border-bottom: 1px solid white;                
        }


    .left_ti {
        display: flex;
        flex-direction: column;
    }

    .side_left {
        display: block;
        width: 200px;
        height: 300px;
}        
    .ba_bk {
        background-color: black;
    }
        ol {
            margin: 20px 0;

        }
            
            a {
                text-decoration: none;
                color: #fff;
            }
           
            
}


