<!DOCTYPE html>
<html lang="en">

<head>
    @@include('./layout/head.html')


    <title>Login</title>

    <style>
        .wrapper_header .nav-list .sub-nav2 {
            color: #eeeae2;
        }

        .wrapper_header .nav-list .sub-nav2 #tg2 {
            color: #eeeae2;
        }

        .wrapper_header .nav-list .sub-nav2>li>a {
            color: #eeeae2;
        }

        #btn_join {
            width: 150px;
            height: 40px;
            box-sizing: border-box;
            color: white;
            margin: 0 auto;
            border-radius: 15px;
            border: none;
            margin-left: 150px;
            margin-top: 20px;
            text-align: center;


        }

        #btn_join2 {
            width: 150px;
            height: 40px;
            box-sizing: border-box;
            color: white;
            margin: 0 auto;
            border-radius: 15px;
            border: none;
            margin-left: 150px;
            margin-top: 20px;
            text-align: center;


        }

        @media (max-width: 768px) {

            .wrapper_header .nav-list .sub-nav2 {
                color: #353231;
            }

            .wrapper_header .nav-list .sub-nav2 #tg2 {
                color: #353231;
            }

            .wrapper_header .nav-list .sub-nav2>li a {
                color: #353231;
            }
            


        }
        
@media screen and (max-width: 575.98px) {
    #btn_join ,#btn_join2 {
        margin-left: 50px;
    }


}

    </style>


</head>

<body>

    <div  class="wrapper_login">
        <!-- header -->
        @@include('./layout/header_vue.html')

        <div class="title">
            <h3>成為我們的會員</h3>
            <p>成立於2022年的光緣畫廊，伴隨著臺灣畫廊產業的成長發展與時俱進。<br>
                加入畫廊協會，將幫助您掌握商機，瞭解產業的最新脈動！<br>
                在全球市場化的今日，單打獨鬥將是一場苦戰，唯有匯集力量，才能展現整體藝術力。<br>
                加入我們，眾志成城永續您的藝術產業夢想！</p>
        </div>



        <!-- Swtich button -->
        <div class="member" id="member_tab">
            <div class="switch"></div>
            <button type="button" id="tab_join_btn" class="member_btn">登入</button>
            <button type="button" id="tab_login_btn" class="member_btn white_fnot">註冊</button>
        </div>

        <!-- form 會員註冊 -->
        <div id="tab_inner" class="">
            <form class="form_content" id="tab_join_content">

                <div class="form-group">
                    <label for="text">&nbsp; &nbsp;帳號&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                    <input type="text" id="username_j" placeholder="請輸入Email" v-model="account">
                </div>
                <div class="form-group">
                    <label for="password">&nbsp; &nbsp;密碼&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                    <input type="password" id="password_j" placeholder="請輸入密碼" v-model="password">
                </div>
                <div class="form-group">
                    <label for="confirm_pas">確認密碼&nbsp; &nbsp; &nbsp; </label>
                    <input type="password" id="confirmPassword" placeholder="">
                </div>
                <div class="form-group">
                    <label for="name">&nbsp; &nbsp;姓名&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                    <input type="text" id="name" placeholder="" v-model="name">
                </div>
                <div class="form-group">
                    <label for="bitrhday">&nbsp; &nbsp;生日&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                    <input type="date" id="bitrhday" v-model="birthday">
                </div>
                <div class="form-group">
                    <label for="phone">&nbsp; &nbsp;電話&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>
                    <input type="number" class=" hide-arrows" id="phone" v-model="phone">
                </div>

                <div id="msg"></div>

                <input class="btn btn-warning " type="button" value="註冊會員" id="btn_join" @click="new_member" style="width:150px;height:40px;border:none #9999FF dashed;background-color:#786B54;">
            </form>

            <!-- form 會員登入 -->
            <div id="-tab_inner" class="">
                <form class="form_content" id="tab_login_content">
                    <div class="form-group">
                        <label for="email">&nbsp; &nbsp;帳號&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
                        <input type="email" id="email_l" placeholder="請輸入帳號或Email" v-model="login_account">
                    </div>
                    <div class="form-group">
                        <label for="password">&nbsp; &nbsp;密碼&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
                        <input type="password" id="password_l" placeholder="請輸入密碼" v-model="login_password">
                    </div>

                    <div id="msg2"></div>

                    <input class="btn btn-warning " type="button" value="登入會員" @click="login_member" id="#btn_join2"  style="width:150px;height:40px;color:white;border-radius: 15px; margin-left: 150px;
                    margin-top: 20px; border:none #9999FF dashed;background-color:#786B54;">
                </form>

                <!-- 彈窗 -->
                <div class="popupcontent">
                    <h1><i class="fa-solid fa-circle-exclamation"></i></h1>
                    <h2>會員註冊成功</h2>
                    <button id="confirm">確定</button>
                </div>

                <!-- 遮罩 -->
                <div class="mask"></div>



            </div>
        </div>
        @@include('./layout/footer.html')

        <!-- <script src="../dist/js/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

        

        <script>
            function loginMember(msg, icon, html) {
                Swal.fire({
                    title: msg,
                    icon: icon,
                    html: html,

                    showConfirmButton: false, // 確認按鈕（預設會顯示不用設定）
                    confirmButtonText: '參加活動', //　按鈕顯示文字
                    confirmButtonAriaLabel: '參加活動', // 網頁無障礙用
                    confirmButtonColor: '#75706b', // 修改按鈕色碼

                    // 使用同確認按鈕
                    // showDenyButton: true, // 否定按鈕
                    showCancelButton: false, // 取消按鈕

                    buttonsStyling: false, // 是否使用sweetalert按鈕樣式（預設為true）
                })
            }
        </script>
        <script>
            new Vue({
                el: '#tab_inner',
                data() {
                    return {
                        eyeToggle: 'close',
                        eyeToggle2: 'close',
                        login_account: '',
                        login_password: '',
                        account: '',
                        password: '',
                        name: '',
                        phone: '',
                        birthday: '',



                    }
                },
                methods: {
                    login_member() {
                        // alert(this.login_account)
                        if (this.login_account != '' && this.login_password != '') {
                            if (this.login_account.length < 10 || this.login_account.length > 40) {
                                // alert("請輸入正確信箱格式")
                                loginMember('<strong>帳號錯誤</strong>', 'error')
                            } else if (this.login_password.length < 7) {
                                // alert("密碼長度不足")
                                loginMember('<strong>密碼錯誤</strong>', 'error')
                            } else {
                                // alert(this.login_account)
                                fetch("./php/M_login.php", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                        // "Accept": "application/json",
                                    },
                                    mode: "cors",
                                    body: JSON.stringify({
                                        login_account: this.login_account,
                                        login_password: this.login_password,
                                    }),
                                })
                                    .then(resp => resp.json())
                                    .then((body) => {
                                        const { successful } = body;
                                        console.log(body);
                                        if (successful) {
                                            loginMember('<strong>登入成功</strong>', 'success', '<button class="btn btn-warning m-3"><a href="./shop.html" style="color: #fff">開始購物</a></button> ')
                                            let login_reset = document.querySelector(".login_reset")
                                            // login_reset.reset()
                                            sessionStorage.setItem('login', successful);
                                           
                                            
                                        } else {
                                            loginMember('<strong>帳號或密碼錯誤</strong>', 'error')
                                        }
                                    });
                            }
                        } else {
                            // alert('請填寫完所有欄位再送出')
                            loginMember('<strong>請填寫完所有欄位再送出</strong>', 'error')
                        }
                    },

                    new_member() {
                        if (this.account != '' && this.phone != '' && this.password != '' && this.name != '') {
                            if (this.account.length < 10 || this.account.length > 40) {
                                // alert("請輸入正確信箱格式")
                                loginMember('<strong>請輸入正確信箱格式</strong>', 'error')
                            } else if (this.phone.length != 10) {
                                // alert("請輸入正確手機格式")
                                loginMember('<strong>請輸入正確手機格式</strong>', 'error')
                            } else if (this.password.length < 7) {
                                // alert("密碼長度不足")
                                loginMember('<strong>密碼長度不足</strong>', 'error')
                            } else {
                                fetch("./php/M_add_member.php", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json",
                                    },
                                    mode: "cors",
                                    body: JSON.stringify({
                                        account: this.account,
                                        phone: this.phone,
                                        password: this.password,
                                        name: this.name,
                                        birthday:this.birthday,

                                    }),
                                })
                                    .then(resp => resp.json())
                                loginMember("<strong>註冊成功!<br>請重新登入會員</strong>", 'success', '<button class="btn btn-warning m-3"><a href="./login.html" style="color: #fff">登入</a></button> ')
                                //     let reset = document.querySelector(".reset")
                                //     reset.reset()
                            }
                        } else {
                            // alert('請填寫完所有欄位再送出')
                            loginMember('<strong>請填寫完所有欄位再送出</strong>', 'error')
                        }
                    },
                },

            })
        </script>
        <script>

            // switch btn 切換
            $(".member_btn").click(function () {
                $(".form_content").toggle()
                $(".switch").toggleClass("transformX")
                // $(".member_btn").toggleClass("white")
                // $(".switch").css("transform", "translateX(-80%)");
                if ($(".switch").hasClass("transformX")) {
                    $("#tab_join_btn").addClass("white_fnot")
                    $("#tab_login_btn").removeClass("white_fnot")
                } else {
                    $("#tab_join_btn").removeClass("white_fnot")
                    $("#tab_login_btn").addClass("white_fnot")
                }
            });


        </script>




</body>

</html>