<!DOCTYPE html>
<html lang="en">
<head>
    @@include('./layout/head.html')
    <title>shop_tur</title>

</head>
<div class="shopTur_container">
        <div class="phone" id="app">
                <!-- 導航列 -->
                <nav>
                <ul class="nav__tab">
                        <li :class="{ active: !isShowingCart }"
                        @click="toggleTab(false)">products</li>
                        <li :class="{ active: isShowingCart }"
                        @click="toggleTab(true)">shopping cart</li>
                </ul>
                </nav>
        
                <!-- 主要展示區塊 -->
                <main :class="{ shift: isShowingCart }">
                <!-- 瀏覽產品 -->
                <div class="content">
                        <!-- 範例 HTML -->
                        <div class="product" v-for="product in products">
                        <div class="info-box">
                                <img :src="product.thumb" />
                                <div>
                                <h2>{{ product.name }}</h2>
                                <p>{{ product.price }}</p>
                                </div>
                        </div>
                        <div class="action-box">
                                <div>
                                <button class="round" @click="minusOne(product)">-</button>
                                <span>{{ product.amountShow }}</span>
                                <button class="round" @click="addOne(product)">+</button>
                                </div>
                                <button @click="addToCart(product)">add to cart</button>
                        </div>
        
                        <!-- 購物成功的 icon -->
                        <div class="icon-container" :class="{ showing: product.showingIcon }">
                                <svg class="icon" viewBox="0 0 100 100" width="80" height="80">
                                <circle class="circle" cx="50" cy="50" r="48"></circle>
                                <polyline class="check" points="28,53 42,66 74,34"></polyline>
                                </svg>
                                <p>成功加入購物車</p>
                        </div>
                        </div>
                </div>
        
                <!-- 購物清單 -->
                <div class="content">
                        <table>
                        <thead>
                                <tr>
                                <th colspan="5">Order</th>
                                </tr>
                        </thead>
                        <tbody>
                                <tr class="table-title">
                                <td>品項</td>
                                <td>數量</td>
                                <td>單價</td>
                                <td>小計</td>
                                <td></td>
                                </tr>
                                <tr v-for="product in productsInCart">
                                <td>{{ product.name }}</td>
                                <td>{{ product.amount }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.sum }}</td>
                                <td>
                                        <button class="button-del" @click="remove(product)">×</button>
                                </td>
                                </tr>
                        </tbody>
                        <tfoot>
                                <tr>
                                <td></td>
                                <td colspan="3">Total <span class="total-price">$ {{ total }}</span></td>
                                <td></td>
                                </tr>
                        </tfoot>
                        </table>
                        <button class="checkout">前往付款</button>
                </div>
                </main>
        </div>
</div>
<script>
        new Vue ({
    el: "#app",
    data: {
        isShowingCart: false,
        products: [
            {
                id: '2062',
                name: 'Miss Dior 淡香水',
                price: 2900,
                thumb: 'https://s5.pimg.tw/album/styleme/element/16810585_1450092930-1717385843/sresize/380x380.jpg',
                amount: 0,
                amountShow: 1,
                showingIcon: false
            }, {
                id: '832',
                name: 'All in one 亮彩膏',
                price: 1350,
                thumb: 'https://s7.pimg.tw/album/styleme/element/89173767_1485853372-1511782940/sresize/380x380.jpg',
                amount: 0,
                amountShow: 1,
                showingIcon: false
            }, {
                id: '16762',
                name: '超放電晶潤雙色唇膏',
                price: 850,
                thumb: 'https://s8.pimg.tw/album/styleme/element/89516838_1486096498-3741399352/sresize/380x380.png',
                amount: 0,
                amountShow: 1,
                showingIcon: false
            }, {
                id: '145',
                name: '奇蹟活源精露',
                price: 2100,
                thumb: 'https://s.pimg.tw/album/styleme/element/62038610_1471836809-2423849843/sresize/380x380.jpg',
                amount: 0,
                amountShow: 1,
                showingIcon: false
            }, {
                id: '103',
                name: '星鑽漾采眼影',
                price: 2600,
                thumb: 'https://s.pimg.tw/album/styleme/element/62032760_1471833970-3752241194/sresize/380x380.jpg',
                amount: 0,
                amountShow: 1,
                showingIcon: false
            }, {
                id: '16717',
                name: '新一代魅力 4G 幻彩蜜粉 雞年限量版',
                price: 2150,
                thumb: 'https://s1.pimg.tw/album/styleme/element/88472691_1485277468-753072152/sresize/380x380.png',
                amount: 0,
                amountShow: 1,
                showingIcon: false
            }
        ]
    },
    methods: {
        // 切換 產品列表 / 購物車 的 tab
        toggleTab (shouldShowCart) {
            this.isShowingCart = shouldShowCart
        },

        // 點擊 - / + 後的動作
        minusOne (product) {
            product.amountShow--
            product.amountShow = (product.amountShow < 1) ? 1 : product.amountShow
        },
        addOne (product) {
            product.amountShow++
            product.amountShow = (product.amountShow > 9) ? 9 : product.amountShow
        },

        // 點擊 add to cart 後的動作
        addToCart (product) {
            product.amount += product.amountShow
            
            product.showingIcon = true
            setTimeout(() => {
                product.showingIcon = false
            }, 800)
        },

        // 在購物車裡移除單一品項 ( 把數量設置成 0 )
        remove (product) {
            product.amount = 0
        },
    },
    computed: {
        // 購物車裡的品項
        productsInCart () {
            return this.products
           
                // 只顯示購買數量 > 0 的項目
                .filter(p => p.amount)
                // 算出每個產品的小計
                .map(p => {
                    p.sum = p.amount * p.price
                    return p
                })
                
        },

        // 木前購買的金額
        total () {
            return this.productsInCart
                .reduce((sum, p) => (sum + p.sum), 0)
        }
    },
})

</script>
    <!-- <script src="./js/shop_tur.js"></script> -->
    <!-- <script src="./js/vendors/vue.js"></script>  -->
    