.wrapper_cart {
   
    nav{

    
    /* 選單icon */
    .hamburger {
        padding: 15px 10px;
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, filter;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        padding-top: 20px;
        overflow: visible;
    }

    .hamburger:hover {
        opacity: 0.7;
    }

    .hamburger.is-active:hover {
        opacity: 0.7;
    }

    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
        opacity: 0.7;
    }

    .hamburger-box {
        width: 40px;
        height: 30px;
        display: inline-block;
        position: relative;
    }

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px;
    }

    .hamburger-inner,
    .hamburger-inner::before,
    .hamburger-inner::after {
        width: 40px;
        height: 2px;
        background-color: #eeeae2;
        border-radius: 1px;
        position: absolute;
        transition-property: transform;
        transition-duration: 0.15s;
        transition-timing-function: ease;
    }

    .hamburger-inner {
        width: 28px;
        transform: rotate(180deg);
    }

    .hamburger-inner::after {
        width: 20px;
        transform: rotate(180deg);
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        content: "";
        display: block;
    }

    .hamburger-inner::before {
        top: -10px;
    }

    .hamburger-inner::after {
        bottom: -10px;
    }

    /* 選單點擊效果 */
    .hamburger--slider .hamburger-inner {
        top: 2px;
    }

    .hamburger--slider .hamburger-inner::before {
        top: 10px;
        transition-property: transform, opacity;
        transition-timing-function: ease;
        transition-duration: 0.15s;
    }

    .hamburger--slider .hamburger-inner::after {
        top: 20px;
    }

    .hamburger--slider.is-active .hamburger-inner {
        transform: translate3d(0, 10px, 0) rotate(45deg);
        width: 40px;
    }

    .hamburger--slider.is-active .hamburger-inner::before {
        transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
        opacity: 0;
    }

    .hamburger--slider.is-active .hamburger-inner::after {
        transform: translate3d(0, -20px, 0) rotate(-90deg);
    }

    /* burger 點擊效果 */
    .hamburger--squeeze .hamburger-inner {
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze .hamburger-inner::before {
        transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    .hamburger--squeeze .hamburger-inner::after {
        transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    .hamburger--squeeze.is-active .hamburger-inner {
        transform: rotate(45deg);
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        width: 40px;
    }

    .hamburger--squeeze.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
    }

    .hamburger--squeeze.is-active .hamburger-inner::after {
        width: 40px;
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    /* 選單列 */

  
        //  ??????
          .row-4{
            // border: 1px solid black;
            color: $darkbrown1;
            font-weight: $lightWeight;
            font-family: $fontNoserif;
            text-align: right;
          }
    
          // 商品資訊
          .-borderTop{
            //  border: 2px solid blue;
            margin-right: 80px;
            margin-left: 20px;
    
           }
    
           button.delPdc{
            text-decoration: none;
            border-radius: 5px;
            letter-spacing: $letterSpacing1;
            font-family: $fontNoserif;
            color: $lightgray;
            background: $beidge2;
            font-size: 0.875rem;
            height: 35px;
            max-width: 85px;
            padding: 0 10px;
            border: none;
          }
    
          button.delPdc:hover{
            color: $white;
            background: $darkbrown2;
          }

          //  各項商品
           .-copyPdc{
            margin-bottom: 60px;
           }
    
        // 數量增減
        .ctrl {
          border-radius: 5px;
    
          width: 100%;
            /* width: 140px; */
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #fff;
             /* border: 3px solid rgb(5, 166, 241);   */
          }
        
          
          .ctrl__counter {
            font-family: Noto Sans TC;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 26px;
            letter-spacing: 0.2em;
        
            position: relative;
            width: 100%;
            height: 50px;
            color: $coffeebrown;
            text-align: center;
            overflow: hidden;
              /* border: 3px solid rgb(5, 166, 241);   */
          }
          .ctrl__counter.is-input .ctrl__counter-num {
            visability: hidden;
            opacity: 0;
            -webkit-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
          }
          .ctrl__counter.is-input .ctrl__counter-input {
            visability: visible;
            opacity: 1;
            -webkit-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
          }
          .ctrl__counter-input {
            width: 100%;
            margin: 0;
            padding: 0;
            position: relative;
            z-index: 2;
            box-shadow: none;
            outline: none;
            border: none;
            color: #042D41;
            font-size: 30px;
            line-height: 50px;
            text-align: center;
            /* visability: hidden; */
            opacity: 0;
            -webkit-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
               /* border: 3px solid rgb(5, 166, 241);   */
          }
        
        
        
          .ctrl__button {
            font-family: Noto Sans TC;
            font-weight:50;
            font-size: 30px;  
        
            width: 50px;
            line-height: 50px;
            text-align: center;
            color: $coffeebrown;
            cursor: pointer;
        
    
               /* border: 3px solid rgb(5, 166, 241);   */
          }
        
          .ctrl__button--decrement:hover {
            color: #fff;
            background-color: $coffeebrown;
          border-radius:   5px 0px  0 5px;
    
          }
          .ctrl__button--increment:hover {
            border-radius:  0 5px 5px  0;
              color: #fff;
              background-color: $coffeebrown;
            }
    
          .ctrl__button--decrement:active {
              background-color: $lightgray;
            }
    
          .ctrl__button--increment:active {
            background-color: $lightgray;
          }
         
         
        
        
          .ctrl__counter-num {
            position: absolute;
            
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            line-height: 50px;
            visability: visible;
            opacity: 1;
            -webkit-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
               /* border: 3px solid rgb(5, 166, 241);   */
          }
          .ctrl__counter-num.is-increment-hide {
           
            -webkit-animation: increment-prev 100ms ease-in;
            animation: increment-prev 100ms ease-in;
          }
          .ctrl__counter-num.is-increment-visible {
            opacity: 1;
        
            -webkit-animation: increment-next 100ms ease-out;
            animation: increment-next 100ms ease-out;
          }
          .ctrl__counter-num.is-decrement-hide {
          
            -webkit-animation: decrement-prev 100ms ease-in;
            animation: decrement-prev 100ms ease-in;
          }
          .ctrl__counter-num.is-decrement-visible {
            opacity: 1;
        
            -webkit-animation: decrement-next 100ms ease-out;
            animation: decrement-next 100ms ease-out;
          }
          
          
      
    
        .text-muted{
          display: flex;
          line-height: $lineheight2;
        }
    
        .text-muted li:first-child{
          // border: 1px solid orange;
          flex-basis: 0;
         flex-grow: 1;
          color: $darkbrown1;
          font-family: $fontSerif;
          letter-spacing: $letterSpacing1;
          text-align: left;
        }
    
        .text-muted li:last-child{
          // border: 1px solid orange;
          flex-basis: 0;
          flex-grow: .5;
        
          color: $darkbrown1;
          font-family: $fontSerif;
          letter-spacing: $letterSpacing1;
          text-align: right;
        }
    
    
      
        .img-fluid{
          object-fit: cover;
          border-radius: $border-radius;
          height: 100%;
    
          // border: 1px solid rgb(126, 103, 60);
    
        }
    
        .borderTop{
          margin-bottom: 5px;
          border-top: solid 0.5px $beidge2;
        }
    
        .-pdcPrice{
          color: $darkbrown1;
          font-weight: $mediumWeight;
          font-family: $fontNoserif;
          text-align: left;
          // border: 1px solid red;
        }
    
        .pdcInfo{
          margin: 20px 0 30px 0;
          color: $darkbrown1;
          font-weight: $regularWeight;
          font-family: $fontNoserif;
          text-align: left;
          line-height: 150%;
          font-size: 0.875rem;
        }
    
      
        .ctrl__counter {
          
            font-size: 14px;
            line-height: 30px;
            height: 30px;
            //  border: 3px solid rgb(5, 166, 241);
        }
    
        .ctrl__button {
            font-size: 20px;  
            line-height: 30px;
            // border: 3px solid rgb(5, 166, 241); 
          }
    
        .ctrl__counter-num {
            line-height: 30px;
            //  border: 3px solid rgb(5, 166, 241); 
        }
    
        .row-md-4{
          margin-bottom: 30px;
          font-weight: $boldWeight;
        }
    
        div.col-md-4 .row li{
          display: flex;
          // padding-right: 40px;
        }
        .row li ol{
          padding: 25px 0;
          flex-grow: 1;
          align-content: space-between;
          border-bottom: solid 0.5px $beidge2;
          // border: 1px solid red;
          }
    
    
        .row li:first-child{
          // border: 1px solid red;
          border-top: solid 0.5px $beidge2;
    
        }
    }

    nav{
        // position: fixed;
        // z-index: 100;
        // right: 0;
        // top: 70px;
        background-color: #c3bdb3;
        width: 300px;
        display: none;
        height: 100vh;
    }
}
