// $border-radius5:5px;

 
.wrapper_checkout{
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

}
  margin: 0 120px;

  .container{
      color: $darkbrown1;
      // border: solid 1px black;
  }
  
  .-checkStep{
    margin: 40px 0 70px 0;
  }
  

    .-num{
      font-family: $englishFont;
      font-weight: $boldWeight;
      font-size: 1.25rem;
      // border:10px solid blue;
    }

      .-num::before{
      // border: 2px solid blue;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        content: '';
        background-image: url(/src/img/checkout/arrow1.svg);
        top: 50%;
        left: 90%;
        height: 22px;
        width: 100%;
      }
      
      .col{
        color: $lightgray;
        font-weight: $boldWeight;
        line-height: $lineheight1;
        position: relative;
        font-size: 1rem;
        text-align: center;
      }

      .-first{
        color: $darkbrown1;
        // border:10px solid blue;
      }
 
      .-num.-fourth:before{
      // border: 2px solid blue;
        display: none;
      }
     
      .row-4{
        color: $darkbrown1;
        font-weight: $lightWeight;
        font-family: $fontNoserif;
        text-align: right;
      }

      // 商品資訊
      .-borderTop{
        //  border: 2px solid blue;
        margin-right: 80px;
       }

       button.delPdc{
        text-decoration: none;
        border-radius: 5px;
        letter-spacing: $letterSpacing1;
        font-family: $fontNoserif;
        color: $lightgray;
        background: $beidge2;
       font-size: 0.875rem;
        height: 35px;
        width: 85px;
        border: none;
      }

      button.delPdc:hover{
        color: $white;
        background: $darkbrown2;
      }


      //  各項商品
       .-copyPdc{
        margin-bottom: 60px;
       }

    // 數量增減
    .ctrl {
      border-radius: 5px;

      width: 100%;
        /* width: 140px; */
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #fff;
         /* border: 3px solid rgb(5, 166, 241);   */
      }
    
      
      .ctrl__counter {
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.2em;
    
        position: relative;
        width: 100%;
        height: 50px;
        color: $coffeebrown;
        text-align: center;
        overflow: hidden;
          /* border: 3px solid rgb(5, 166, 241);   */
      }
      .ctrl__counter.is-input .ctrl__counter-num {
        visability: hidden;
        opacity: 0;
        -webkit-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
      }
      .ctrl__counter.is-input .ctrl__counter-input {
        visability: visible;
        opacity: 1;
        -webkit-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
      }
      .ctrl__counter-input {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        z-index: 2;
        box-shadow: none;
        outline: none;
        border: none;
        color: #042D41;
        font-size: 30px;
        line-height: 50px;
        text-align: center;
        /* visability: hidden; */
        opacity: 0;
        -webkit-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
           /* border: 3px solid rgb(5, 166, 241);   */
      }
    
    
    
      .ctrl__button {
        font-family: Noto Sans TC;
        font-weight:50;
        font-size: 30px;  
    
        width: 50px;
        line-height: 50px;
        text-align: center;
        color: $coffeebrown;
        cursor: pointer;
    

           /* border: 3px solid rgb(5, 166, 241);   */
      }
    
      .ctrl__button--decrement:hover {
        color: #fff;
        background-color: $coffeebrown;
      border-radius:   5px 0px  0 5px;

      }
      .ctrl__button--increment:hover {
        border-radius:  0 5px 5px  0;
          color: #fff;
          background-color: $coffeebrown;
        }

      .ctrl__button--decrement:active {
          background-color: $lightgray;
        }

      .ctrl__button--increment:active {
        background-color: $lightgray;
      }
     
     
    
    
      .ctrl__counter-num {
        position: absolute;
        
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        line-height: 50px;
        visability: visible;
        opacity: 1;
        -webkit-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
           /* border: 3px solid rgb(5, 166, 241);   */
      }
      .ctrl__counter-num.is-increment-hide {
       
        -webkit-animation: increment-prev 100ms ease-in;
        animation: increment-prev 100ms ease-in;
      }
      .ctrl__counter-num.is-increment-visible {
        opacity: 1;
    
        -webkit-animation: increment-next 100ms ease-out;
        animation: increment-next 100ms ease-out;
      }
      .ctrl__counter-num.is-decrement-hide {
      
        -webkit-animation: decrement-prev 100ms ease-in;
        animation: decrement-prev 100ms ease-in;
      }
      .ctrl__counter-num.is-decrement-visible {
        opacity: 1;
    
        -webkit-animation: decrement-next 100ms ease-out;
        animation: decrement-next 100ms ease-out;
      }
      
      
  

    .text-muted{
      display: flex;
      line-height: $lineheight2;
    }

    .text-muted li:first-child{
      // border: 1px solid orange;
      flex-basis: 0;
     flex-grow: 1;
      color: $darkbrown1;
      font-family: $fontSerif;
      letter-spacing: $letterSpacing1;
      text-align: left;
    }

    .text-muted li:last-child{
      // border: 1px solid orange;
      flex-basis: 0;
     flex-grow: .5;
    
      color: $darkbrown1;
      font-family: $fontSerif;
      letter-spacing: $letterSpacing1;
      text-align: right;
    }


  
    .img-fluid{
      // max-width: 100%;
      border-radius: $border-radius;

      // border: 1px solid rgb(126, 103, 60);

    }

    .borderTop{
      margin-bottom: 5px;
      border-top: solid 0.5px $beidge2;
    }

    .-pdcPrice{
      color: $darkbrown1;
      font-weight: $mediumWeight;
      font-family: $fontNoserif;
      text-align: left;
      // border: 1px solid red;
    }

    .pdcInfo{
      margin: 20px 0 30px 0;
      color: $darkbrown1;
      font-weight: $regularWeight;
      font-family: $fontNoserif;
      text-align: left;
      line-height: 150%;
      font-size: 0.875rem;
    }

  
    .ctrl__counter {
      
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        //  border: 3px solid rgb(5, 166, 241);
    }

    .ctrl__button {
        font-size: 20px;  
        line-height: 30px;
        // border: 3px solid rgb(5, 166, 241); 
      }

    .ctrl__counter-num {
        line-height: 30px;
        //  border: 3px solid rgb(5, 166, 241); 
    }

    .row-md-4{
      margin-bottom: 30px;
      font-weight: $boldWeight;
    }

    div.col-md-4 .row li{
      display: flex;
      // padding-right: 40px;
    }
    .row li ol{
      padding: 25px 0;
      flex-grow: 1;
      align-content: space-between;
      border-bottom: solid 0.5px $beidge2;
      // border: 1px solid red;
      }


    .row li:first-child{
      // border: 1px solid red;
      border-top: solid 0.5px $beidge2;

    }

      
    div.col-md-4 .checkTotal{
      // border: 1px solid red;
      margin-bottom: 30px;
    }


    div.col-md-4 .row li ol:last-child{
      font-family: $fontNoserif;
      text-align: right;
        // border: 2px solid red;
      }
    
      input.saleCode{
      padding-left: 20px;
      margin-right: 15px;
      margin-bottom: 40px;
      max-width: 66%;
      font-size: $p;
      border-radius: 5px;
      border: none;
      height: 35px;
      }
    
    button.useCode{
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-family: $fontNoserif;
      color: $white;
      background: $darkbrown2;
     font-size: 0.875rem;
      height: 35px;
      width: 85px;
      border: none;
    }

    button.creditCard{
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-weight: $lightWeight;
      font-family: $fontNoserif;
      color: $white;
      background: $coffeebrown;
      font-size: 0.875px;
      height: 35px;
      width: 100%;
      border: none;

      margin-bottom: 10px;
    }

    button.payCash{
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-weight: $lightWeight;
      font-family: $fontNoserif;
      color: $lightgray;
      background: $beidge2;
      font-size: 0.875px;
      height: 35px;
      width: 100%;
      border: none;

      margin-bottom: 85px;

    }
    
    button.btncheckS1{
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-family: $fontNoserif;
      color: $white;
      background: $darkbrown2;
      height: 35px;
      width: 100%;
      border: none;
    }

    .btnBackshop{
      position: relative;
      padding-left: 10%;
      flex-grow: 1;
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-family: $fontNoserif;
      color: $darkbrown1;
      background: $beidge1;
      height: 35px;
      width: 100%;
      border: 1px solid $darkbrown1;
    }
}
