// $border-radius5:5px;

 
.wrapper_checkout3{
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

  }
  // margin: 0 120px;

  .container{
    margin: 0 auto;
      color: $darkbrown1;
      // border: solid 1px black;
  }
  
  .-checkStep{
    margin: 40px 0 70px 0;
  }
  .-checkMain{
    margin: 0 auto;
  }
  
  .col-12 .col-lg-6 .col-md-8 .col-sm-12{
  margin: 0 auto;

}

    .-num{
      font-family: $englishFont;
      font-weight: $boldWeight;
      font-size: 1.25rem;
      // border:10px solid blue;
    }

      .-num::before{
      // border: 2px solid blue;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        content: '';
        background-image: url(../img/checkout/arrow1.svg);
        top: 50%;
        left: 90%;
        height: 22px;
        width: 100%;
      }
      
      .col{
        color: $lightgray;
        font-weight: $boldWeight;
        line-height: $lineheight1;
        position: relative;
        font-size: 1rem;
        text-align: center;
      }

      .-third{
        color: $darkbrown1;
        // border:10px solid blue;
      }
 
      .-num.-fourth:before{
      // border: 2px solid blue;
        display: none;
      }
     
      .row-4{
        color: $darkbrown1;
        font-weight: $lightWeight;
        font-family: $fontNoserif;
        text-align: right;
      }

      // 商品資訊
      .-borderTop{
        //  border: 2px solid blue;
        margin-left: 20px;
       }


      //  各項商品
       .-copyPdc{
        margin-bottom: 60px;
       }

    .text-muted{
      display: flex;
      line-height: $lineheight2;
    }

 

    .text-muted li{
      // border: 1px solid orange;
      flex-grow: 1;
      color: $darkbrown1;
      font-family: $fontSerif;
      letter-spacing: $letterSpacing1;
      text-align: left;
    }

    .img-fluid{
      // max-width: 100%;
      border-radius: $border-radius;
    }

    .borderTop{
      border:  1px solid black;
      margin-bottom: 5px;
      // border-top: solid 0.5px $beidge2;
    }

    .-pdcPrice{
      color: $darkbrown1;
      font-weight: $mediumWeight;
      font-family: $fontNoserif;
      text-align: left;
      // border: 1px solid red;
    }

    .pdcInfo{
      margin: 20px 0 30px 0;
      color: $darkbrown1;
      font-weight: $regularWeight;
      font-family: $fontNoserif;
      text-align: left;
      line-height: 150%;
      font-size: 0.875rem;
    }

  
   

    .row-md-4{
      margin-bottom: 30px;
      font-weight: $boldWeight;
    }

    .row ul li{
      display: flex;

      // border: 1px solid rgb(25, 0, 255);
    }
    .row li ol{
      padding: 25px 0;
      // flex-grow: 1;
      // align-content: space-between;
      border-bottom: solid 0.5px $beidge2;
      // border: 1px solid red;
      }

      // 訂購標題
      .row li ol:first-child{
        flex-basis:25%;
      }

      .-infoCheck1 li ol:last-child{
        flex-grow: 1;
        // border: 1px solid red;
        text-align: right;
      }

    .-infoCheck2 li ol:last-child{
      // border: 1px solid red;
      text-align: left;
      // align-content:center;
      line-height: $lineheight1;
    }

    .orderTotal{
      margin-bottom: 75px;
    }


    li ol, .-infoCheck2{
      // border: 1px solid red;
      border-top: solid 0.5px $beidge2;
    }

      
    div.col-md-6 .checkTotal{
      // border: 1px solid red;
      margin-bottom: 30px;
    }


    div.col-md-6 .row li ol:last-child{
      font-family: $fontNoserif;
      text-align: right;
        // border: 2px solid red;
      }
  
    
    
    button.btncheckfin{
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-family: $fontNoserif;
      color: $white;
      background: $darkbrown2;
      height: 35px;
      width: 100%;
      border: none;
      margin-bottom: 10px;

    }

    .btnBackshop{
      position: relative;
      padding-left: 10%;
      flex-grow: 1;
      text-decoration: none;
      border-radius: 5px;
      letter-spacing: $letterSpacing1;
      font-family: $fontNoserif;
      color: $darkbrown1;
      background: $beidge1;
      height: 35px;
      width: 100%;
      border: 1px solid $darkbrown1;
    }
 

    .btnBackshop::before{
      // border: 2px solid blue;
      background-repeat: no-repeat;
      position: absolute;
      display: block;
      content: '';
      background-image: url(../img/checkout/arrow2.svg);
      top: 30%;
      left: 15%;
      height: 25px;
      width: 50px;
    }

    a{
      text-decoration: none;
    }
    
    .btnBackshop a{
      color: $darkbrown1;
    }
    
    .btncheckfin a{
      color: $beidge1;
    }
    

    @media all and (max-width: 575.98px){
      .-checkMain{
        margin: 0 15px;
      }

      .-num::before{
        display: none;
        }
      
      div.a{
      // border: 2px solid blue;
        order: 2;
      }
      div.b{
        order: 1;
      }
    }
    
}
