
// @import"/src/sass/base/var";

$max-width:1440px;
$margin-bottom: 20px;


section{
    // font-size: $fontWeight;
    font-family: $fontNoserif,$fontSerif,$englishFont;
};
    
div{
    max-width: $max-width;
    max-height: 580px;
    margin-bottom: $margin-bottom;

    img{
        width: auto;
        height: auto;
    }

};

div.the_new{
  
    height: 500px;

    h3{
        font-size: $h3;
        // font-weight: $fontWeight;
    };

    p{
        font-size: $p * 1.6;
        // font-weight: map-get($fontWeight,bold) ;
        // font-weight: $lightWeight;

    }

};

.new_work{
    width: $max-width;
    height: 600px;
    background-color: aqua;
};


