.wrapper_login {
    input{
        padding: 5px;
    }

    .hide-arrows::-webkit-outer-spin-button,
    .hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    // Firefox
    .hide-arrows {
        -moz-appearance: textfield;
    }


    // 標題
    .title {
        width: 100%;
        text-align: center;
        line-height: 1.6;
        padding: 20px 15px;
    }

    .title {
        margin-bottom: 50px;
    }

    .title h3 {
        font-size: 2.75rem;
        color: #786B54;
        margin: 50px 0 20px 0;
        letter-spacing: .4rem;
        font-weight: bold;
    }

    .title p {
        font-size: 18px;
        color: #353231;
        letter-spacing: .2;
    }

    // 註冊登入切換按鈕
    .member {
        width: 180px;
        height: 40px;
        margin: 0 auto;
        background-color: #E3DED4;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 40px;
        margin-bottom: 30px;
    }


    #tab_join_btn {
        box-sizing: border-box;
        margin-right: 10px;
        margin-left: 10px;
    }

    #tab_join_btn p,
    .member a {
        text-align: center;
        line-height: 1.6;
        color: #C3BDB3;
        text-decoration: none;

    }

    // 表單

    #tab_inner input {
        border: 1px #C3BDB3 solid;
        background-color: #FFFFFF;
        width: 300px;
    }

    .form-group {
        text-align: left;
        height: 50px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_content {
        width: 500px;
        margin: 0 auto;
        margin-bottom: 100px;
        /* border: 1px red solid; */
        box-sizing: border-box;
    }

    #bitrhday {
        width: 170px;
        box-sizing: border-box;
    }

    // 註冊登入按鈕
    #join_btn,
    #login_btn {
        width: 200px;
        height: 30px;
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 15px;
        background-color: #786B54;
        border: none;
        margin-left: 150px;
        margin-top: 20px;
    }

    #join_btn p,
    #login_btn p {
        text-align: center;
        margin: 0;
        color: #EEEAE2;
    }

    // 錯誤訊息 
    #msg,
    #msg2 {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }

    // 彈窗 
    #msg,
    #msg2 {
        color: red;
        font-weight: bold;
        height: 40px;
        line-height: 1.6;
        box-sizing: border-box;
    }

    .popupcontent {
        width: 500px;
        height: 250px;
        background-color: beige;
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        box-sizing: border-box;


        position: fixed;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        display: none;

    }

    .popupcontent h2 {
        text-align: center;
        width: 300px;
    }



    #confirm {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        margin: 0 auto
    }

    // 遮罩
    .mask {
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        opacity: .7;
        width: 100%;
        height: 100%;

        display: none;
    }


}

//switch button
    // body { margin: 0 auto; }
    #tab_join_content{
        display: block;
    }

    #tab_login_content{
        display: none;
    }
    
    .switch_button{
        margin-bottom: 50px;

        .can-toggle{
            width: 200px;
            // margin: 50px auto;
            margin: 0 auto;
            
        }
    
        @mixin can-toggle-branding(
        $can-toggle-off-color: #E3DED4, 
        $can-toggle-on-color: #AB8A49,
        $can-toggle-inactive-text: rgba(white, 0.5),
        $can-toggle-transition: cubic-bezier(0,1,0.5,1)
        ) {
        
        input[type="checkbox"] {
            
            &[disabled] ~ label {
            color: rgba($can-toggle-off-color, 0.5);
            }
            
            &:focus ~ label, &:hover ~ label {
            .can-toggle__switch {
                background-color: $can-toggle-off-color;
                &:after { color: darken($can-toggle-off-color, 10%); }
            }
            }
            &:hover ~label { color: darken($can-toggle-off-color, 5%); }
            &:checked {
            ~ label {
                &:hover { color: darken($can-toggle-on-color, 3%); }
                
                .can-toggle__switch {
                background-color: lighten($can-toggle-on-color, 5%);
                &:after { color: darken($can-toggle-on-color, 5%); }
                }
            }
            
            &:focus, &:hover {
                ~ label {
                .can-toggle__switch {
                    background-color: $can-toggle-on-color;
                    &:after { color: darken($can-toggle-on-color, 10%); }
                }
                } 
            }
            }
        }
        
        label {
            
            .can-toggle__label-text { flex: 1; }
            
            .can-toggle__switch {
            transition: background-color 0.3s $can-toggle-transition;
            background: lighten($can-toggle-off-color, 5%);
            &:before { color: $can-toggle-inactive-text; }
            &:after {
                // Autoprefixer choked here, so making the prefixes explicit
                -webkit-transition: -webkit-transform 0.3s $can-toggle-transition;
                transition: transform 0.3s $can-toggle-transition;
                color: $can-toggle-off-color; 
            }
            }
            
        }
        }
    
        @mixin can-toggle-appearance 
        ( 
        $can-toggle-width: 200px,
        $can-toggle-height: 36px,
        $can-toggle-border-radius: 4px,
        $can-toggle-offset: 2px,
        $can-toggle-label-font-size: 14px,
        $can-toggle-switch-font-size: 12px,
        $can-toggle-shadow: 0 3px 3px rgba(black, 0.4)
        ){
        $can-toggle-switch-width: 100px;
        
        input[type="checkbox"] {
    
            &:focus ~ label, &:hover ~ label {
            .can-toggle__switch {
                &:after { box-shadow: $can-toggle-shadow; } 
            }
            }
            
            &:checked {
            ~ label {
                .can-toggle__switch {
                &:after { transform: translate3d($can-toggle-width - ($can-toggle-switch-width + $can-toggle-offset),0,0); }  
                }
            }
            &:focus, &:hover {
                ~ label {
                .can-toggle__switch { &:after { box-shadow: $can-toggle-shadow; } }
                } 
            }
            }
        }
        
        label {
            font-size: $can-toggle-label-font-size;
            
            .can-toggle__switch {
            height: $can-toggle-height;
            flex: 0 0 $can-toggle-width;
            border-radius: $can-toggle-border-radius;
            
            &:before {
                left: 100px;
                font-size: $can-toggle-switch-font-size; 
                line-height: $can-toggle-height;
                width: 100px;
                padding: 0 12px;
            }
            
            &:after {
                top: $can-toggle-offset; left: $can-toggle-offset;
                border-radius: 25px;
                width: $can-toggle-switch-width - $can-toggle-offset; 
                line-height: $can-toggle-height - ($can-toggle-offset*2);
                font-size: $can-toggle-switch-font-size;
            }
            
            &:hover {
                &:after { box-shadow: $can-toggle-shadow; }
            }
            } 
        }
        }
    
    
    
        .can-toggle {
        position: relative;
        *, *:before, *:after { box-sizing: border-box; }
        //overflow: hidden;
        
        input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            top: 0; left: 0;
            
            &[disabled] ~ label {
            pointer-events: none;
            .can-toggle__switch { opacity: 0.4; }
            }
            
            &:checked {
            ~ label {
                
                .can-toggle__switch {
                
                &:before {
                    content: attr(data-unchecked);
                    left: 0;
                }
                
                &:after {
                    content: attr(data-checked);
                }  
                }
            }
            
            &:focus, &:hover {
                ~ label {
                } 
            }
            }
        }
        
        label {
            user-select: none;
            position: relative;
            display: flex;
            align-items: center;
            
            .can-toggle__label-text { 
            flex: 1;
            padding-left: 32px;
            }
            
            .can-toggle__switch {
            position: relative;
            
            &:before {
                content: attr(data-checked);
                position: absolute;
                top: 0;
                text-transform: uppercase;
                text-align: center;
            }
            
            &:after {
                content: attr(data-unchecked);
                position: absolute;
                z-index: 5;
                text-transform: uppercase;
                text-align: center;
                background: #AB8A49;
                transform: translate3d(0,0,0);
            }
    
            }
            
        }
        
        // Default values for .can-toggle class
        @include can-toggle-branding; 
        @include can-toggle-appearance; 
        
        
        &.demo-rebrand-2 {
            @include can-toggle-branding
            (
            #E3DED4,  // Off state color
            #E3DED4,  // On state color
            rgba(#AB8A49, 0.7),  // Off state text color
            cubic-bezier(0.860, 0.000, 0.070, 1.000)  // Transition timing function
            );
            @include can-toggle-appearance
            (
            200px, // Toggle width
            40px,  // Toggle height
            60px,   // Toggle border radius
            2px,   // Offset (distance btw switch and box)
            13px,  // Label font size
            13px,  // Switch font size
            0 4px 4px rgba(black, 0.4) // Switch shadow on hover/focus
            ); 
    
            }
    
        
        }
  
    }

@media screen and (max-width: 575.98px) {
    .wrapper_login {
        .form_content {
            width: 250px;
        }

        .form-group {
            display: block;
            margin: 0 auto;
            text-align: left;
            height: 80px;
            box-sizing: border-box;
            margin: 0;
        }

        .form-group label {
            line-height: 1.6;
        }

        #tab_inner input {
            width: 100%;
        }

        #join_btn,
        #login_btn {
            margin-left: 25px;
        }
    }

}



@media screen and (min-width: 576px) and (max-width: 767.9px) {}

@media screen and (min-width: 768px) and (max-width: 991.8px) {}

@media screen and (min-width: 992px) and (max-width: 1199.8px) {}

@media screen and (min-width: 1200px) and (max-width: 1399.8px) {}

@media screen and (min-width: 1400px) {}