.wrapper_login {
    input {
        padding: 5px;
    }

    .hide-arrows::-webkit-outer-spin-button,
    .hide-arrows::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }


    // Firefox
    .hide-arrows {
        -moz-appearance: textfield;
    }


    // 標題
    .title {
        width: 100%;
        text-align: center;
        line-height: 1.6;
        padding: 20px 15px;
    }

    .title {
        margin-bottom: 50px;
    }

    .title h3 {
        font-size: 2.75rem;
        color: #786B54;
        margin: 50px 0 20px 0;
        letter-spacing: .4rem;
        font-weight: bold;
    }

    .title p {
        font-size: 18px;
        color: #353231;
        letter-spacing: .2;
    }

    // 註冊登入切換按鈕
    .member {
        width: 180px;
        height: 40px;
        margin: 0 auto;
        background-color: #E3DED4;
        padding: 10px 22px;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 40px;
        margin-bottom: 30px;
        position: relative;
    }


    // 註冊登入按鈕 (新)
    .member button  {
        background-color: transparent;
        border: none;
        color: #C3BDB3;
    }
    #tab_join_btn{
        margin-right: 43px;
        z-index: 2;
        position: relative;
    }
    #tab_login_btn{
        z-index: 2;
        position: relative;
    }

    .member .switch{
        background-color: #AB8A49;
        border-radius: 40px;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: calc(100% - 50%);
        right: 0;
        z-index: 1;
        transition: .5s;
      }

      .white_fnot{
          color: #EEEAE2 !important;
      }

      .transformX{
        // animation: TestMove 1s 1;
        transform: translateX(-100%);
      }

 

      @keyframes TestMove {
          0%{
            transform: translateX(0);
          }

          100%{
            transform: translateX(-80%);
          }
      }



    // 表單
    #tab_inner input {
        border: 1px #C3BDB3 solid;
        background-color: #FFFFFF;
        width: 300px;
    }

    .form-group {
        text-align: left;
        height: 50px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form_content {
        width: 500px;
        margin: 0 auto;
        margin-bottom: 100px;
        /* border: 1px red solid; */
        box-sizing: border-box;
    }

    #bitrhday {
        width: 170px;
        box-sizing: border-box;
    }

    // 註冊登入按鈕
    #join_btn,
    #login_btn {
        width: 200px;
        height: 30px;
        box-sizing: border-box;
        margin: 0 auto;
        border-radius: 15px;
        background-color: #786B54;
        border: none;
        margin-left: 150px;
        margin-top: 20px;
    }

    #join_btn p,
    #login_btn p {
        text-align: center;
        margin: 0;
        color: #EEEAE2;
    }


    // 錯誤訊息 
    #msg,
    #msg2 {
        text-align: center;
        margin: 0 auto;
        padding: 10px;
    }

    // 彈窗 
    #msg,
    #msg2 {
        color: red;
        font-weight: bold;
        height: 40px;
        line-height: 1.6;
        box-sizing: border-box;
    }

    .popupcontent {
        width: 500px;
        height: 250px;
        background-color: beige;
        display: flex;
        flex-wrap: wrap;
        padding: 50px;
        box-sizing: border-box;


        position: fixed;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        display: none;

    }

    .popupcontent h2 {
        text-align: center;
        width: 300px;
    }



    #confirm {
        width: 150px;
        height: 40px;
        border-radius: 30px;
        margin: 0 auto
    }

    // 遮罩
    .mask {
        position: fixed;
        top: 0;
        left: 0;
        background: black;
        opacity: .7;
        width: 100%;
        height: 100%;

        display: none;
    }


}

//switch button
#tab_join_content {
    display: block;
}

#tab_login_content {
    display: none;
}


@media screen and (max-width: 575.98px) {
    .wrapper_login .form_content {
        width: 250px;
    }

    .wrapper_login .form-group {
        display: block;
        margin: 0 auto;
        text-align: left;
        height: 80px;
        box-sizing: border-box;
        margin: 0;
    }

    .wrapper_login .form-group label {
        line-height: 1.6;
    }

    .wrapper_login #tab_inner input {
        width: 100%;
    }

    .wrapper_login #join_btn,
    .wrapper_login #login_btn {
        margin-left: 25px;
    }
    .wrapper_login  #btn_join ,.wrapper_login  #btn_join2 {
        margin-left: 50px;
    }


}


@media screen and (min-width: 576px) and (max-width: 767.9px) {}

@media screen and (min-width: 768px) and (max-width: 991.8px) {}

@media screen and (min-width: 992px) and (max-width: 1199.8px) {}

@media screen and (min-width: 1200px) and (max-width: 1399.8px) {}

@media screen and (min-width: 1400px) {}