@mixin h3 {
    font-size: $h6;
    // font-weight: $fontWeight;
    letter-spacing: $letter-space;
    font-family: $englishFont;
    font-weight: $regularWeight;

}


.wrapper_member {

    .top_content {
        h3 {
           @include h3;
           margin: 50px 100px 30px;
        }
    }
    .table_order {
        width: 70%;
        margin: 20px auto 100px;
    }
    .table {
        th {
            text-align: center;
            vertical-align: middle !important;
            white-space: nowrap;
        }
        td {
            text-align: center;
            vertical-align: middle !important;
            white-space: nowrap;
        }
    }
    .title_border{
        border-bottom: 1px solid;
    }
    
}