.wrapper_onlinegallery_exhibition{
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    // 背景圖
    .bg-img>img{
        width: 100%;
        height: 100%;
        z-index: -99;
        position: fixed;
    }

    // light
    // .bg-img img:nth-child(2)
    //   {
    //     z-index: 9;
    //     margin: 0 auto;
    // }
    
    // 主標
    .onlinegallery_exhibition_title{
        padding: 10px 120px 0 120px;
        line-height: 1.6;
    }

    .onlinegallery_exhibition_title a{
        text-decoration:none;
    }
    
    .onlinegallery_exhibition_title p{
        font-size: $p;
        color: $darkbrown2;
    }

    .onlinegallery_exhibition_title h6{
        font-size: $h6;
        color: $darkbrown2;
    }

    // 畫作輪播

    .painting{
        width: 100%;
        height: 400px;
    }
    
      //frame
      .c-gallery__photo{transition:.8s cubic-bezier(.77,0,.175,1)}.c-gallery__photo 
        img{transition:.8s cubic-bezier(.445,.05,.55,.95)}
        .c-gallery.is-hover 
        .c-gallery__photo{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
        .c-gallery.is-hover 
        .c-gallery__photo img{-webkit-transform:scale(1.15);transform:scale(1.15)}
        .c-gallery.is-hover 
        .c-gallery__content{opacity:1}
        .c-line-button{display:flex;justify-content:space-between;width:100%;padding:17px 21.5px 18px 22px;border-radius:55px;border:solid 1px #fff;transition:.4s linear}
        .c-photo{position:relative;display:inline-block;pointer-events:none}.c-photo.is-white .c-photo__wrapper:before{background-image:linear-gradient(to right,#fff,#f0f0f0)}.c-photo.is-white .c-photo__frame{border:1px solid #e1e1e1}@media(max-width:767px){.c-photo.is-white .c-photo__frame{border:1px solid #e1e1e1}}.c-photo.is-white .c-photo__frame:before{background-image:linear-gradient(to right,#f2f2f2,#e2e2e2)}.c-photo.is-white .c-photo__inner{border-bottom:0 solid #c5c5c5;border-left:0 solid #c5c5c5;border-top:0 solid #f6f6f6;border-right:0 solid #f6f6f6}.c-photo.js-effect img{visibility:hidden}.c-photo.js-effect canvas{position:absolute;top:0;left:0;width:100%;height:100%}.c-photo__wrapper{position:relative;z-index:2;padding:.3rem;-webkit-backface-visibility:hidden;backface-visibility:hidden}.c-photo__wrapper:before{position:absolute;top:0;left:0;content:' ';display:block;width:100%;height:100%;background-image:linear-gradient(to right,#3e3e43,#141414)}@media(max-width:767px){.c-photo__wrapper{padding:.2rem}}.c-photo__frame{position:relative;padding:3.3rem;border:2px solid #000;-webkit-backface-visibility:hidden;backface-visibility:hidden}.c-photo__frame:before{position:absolute;z-index:0;top:0;left:0;content:' ';display:block;width:100%;height:100%;background-image:linear-gradient(to right,#fff,#ededed)}@media(max-width:767px){.c-photo__frame{border:1px solid #000;padding:1.6rem}}.c-photo__inner{position:relative;z-index:2;border-radius:1px;border-left:1px solid rgba(254,254,254,.4);overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden}.c-photo__inner img{display:block;-webkit-backface-visibility:hidden;backface-visibility:hidden}.c-photo__inner:before{content:' ';display:block;width:100%;height:100%;box-shadow:0 0 5px rgba(0,0,0,.2) inset;position:absolute;z-index:2;top:0;left:0}.c-photo__shadow-01{position:absolute;width:90%;height:90%;left:2%;bottom:-3%;background-color:rgba(20,20,20,.2);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}.c-photo__shadow-02{position:absolute;width:90%;height:90%;right:2%;bottom:-6%;background-color:rgba(20,20,20,.4);-webkit-filter:blur(2px);filter:blur(2px);opacity:0}.is-load .c-photo__shadow-01{transition:2s 1s;opacity:1}.is-load .c-photo__shadow-02{transition:2s 1s;opacity:1}.is-current .c-photo--gallery{pointer-events:auto}.c-photo--gallery{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:.4s cubic-bezier(.77,0,.175,1);transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}.c-photo--gallery.js-gallery-photo{cursor:pointer;-webkit-backface-visibility:hidden;backface-visibility:hidden}.c-photo--gallery.js-gallery-photo img{-webkit-backface-visibility:hidden;backface-visibility:hidden}.c-photo--gallery .c-photo__wrapper{padding:.7rem}@media(max-width:767px){.c-photo--gallery .c-photo__wrapper{padding:.4rem}}.c-photo--gallery .c-photo__frame{padding:4.5rem 6rem}@media(max-width:767px){.c-photo--gallery .c-photo__frame{padding:2.2rem 2.9rem}}.c-photo--gallery.is-vertical .c-photo__wrapper{padding:.7rem}@media(max-width:767px){.c-photo--gallery.is-vertical .c-photo__wrapper{padding:.4rem}}.c-photo--gallery.is-vertical .c-photo__frame{padding:5.5rem 4.7rem}@media(max-width:767px){.c-photo--gallery.is-vertical .c-photo__frame{padding:2.7rem 2.4rem}}.c-photo--gallery .c-photo__wrapper{transition:.4s cubic-bezier(.77,0,.175,1);transition-property:border-width,padding}.c-photo--gallery .c-photo__wrapper:before{transition:opacity .4s linear;opacity:1}.c-photo--gallery .c-photo__frame{transition:.4s cubic-bezier(.77,0,.175,1);transition-property:padding,border-width}.c-photo--gallery .c-photo__frame:before{transition:opacity .4s linear;opacity:1}.c-photo--gallery .c-photo__inner{transition:.4s cubic-bezier(.77,0,.175,1);transition-property:border-width,border-radius}.c-photo--gallery .c-photo__inner:before{transition:opacity .4s linear;opacity:1}.c-photo--gallery.is-zoom{-webkit-transform:scale(1.2);transform:scale(1.2)}.c-photo--gallery.is-zoom .c-photo__wrapper{padding:0}@media(max-width:767px){.c-photo--gallery.is-zoom .c-photo__wrapper{padding:0}}.c-photo--gallery.is-zoom .c-photo__wrapper:before{opacity:0}.c-photo--gallery.is-zoom .c-photo__frame{padding:0;border-width:0}@media(max-width:767px){.c-photo--gallery.is-zoom .c-photo__frame{padding:0}}.c-photo--gallery.is-zoom .c-photo__frame:before{opacity:0}.c-photo--gallery.is-zoom .c-photo__inner{border-radius:0;border-bottom:0 solid rgba(0,0,0,.3);border-left:0 solid rgba(254,254,254,.4);border-top:0 solid rgba(0,0,0,.2);border-right:0 solid rgba(160,160,160,.4)}.c-photo--gallery.is-zoom .c-photo__inner:before{opacity:0}.c-photo--gallery-list .c-photo__wrapper{padding:.5rem}@media(max-width:767px){.c-photo--gallery-list .c-photo__wrapper{padding:.3rem}}.c-photo--gallery-list .c-photo__frame{padding:2.6rem 3rem}@media(max-width:767px){.c-photo--gallery-list .c-photo__frame{padding:1.6rem 2.2rem}}.c-photo--gallery-list.is-vertical .c-photo__frame{padding:3rem 2.6rem}@media(max-width:767px){.c-photo--gallery-list.is-vertical .c-photo__frame{padding:1.8rem 1.6rem}}.c-photo--about .c-photo__wrapper{padding:.6rem}@media(max-width:767px){.c-photo--about .c-photo__wrapper{padding:.3rem}}.c-photo--about .c-photo__frame{padding:3.5rem 4.2rem}@media(max-width:767px){.c-photo--about .c-photo__frame{padding:1.9rem 2.4rem}}.c-photo--about.is-vertical .c-photo__frame{padding:4.2rem 3.6rem}@media(max-width:767px){.c-photo--about.is-vertical .c-photo__frame{padding:2.4rem 1.9rem}}.c-profile-section{margin-top:60px}

        .c-photo__inner img{
          width: 150px;
      }

      .c-photo{
      }



}