.psychol_test_wrapper_start {
    background-color: #ab8a49;
    background-blend-mode: multiply;
    background-image: url("../img/psychol_test/P_bac.jpg");
    background-size: cover;
    background-position: center center;
    color: #eeeae2;
    animation: p_animate 5s ease-in-out infinite;
    
    @keyframes p_animate {
        50%{
            background:linear-gradient(160deg, #eeeae2, transparent),
            linear-gradient(280deg, #ab8a49, transparent),
            linear-gradient(400deg, #353231, transparent);
            background-image: url("../img/psychol_test/P_bac.jpg");
            background-size: cover;
            background-position: center center;
        }
    }
    .psychol_title h1 {
        font-size: 1.5rem;
        letter-spacing: 1rem;
        line-height: 5;
        margin-left: 6%;
        font-weight: bold;
    }
    .psychol_test_content {
        text-align: center;
        line-height: 3;
    }

    .test_title h1 {
        font-size: 1.2rem;
        letter-spacing: 0.5rem;
        font-weight: 600;
    }

    .test_content {
        margin-bottom: 5%;
    }

    .game_start_btn {
        border: 1px solid #eeeae2;
        border-radius: 25px;
        width: 450px;
        margin: 0 auto;
        padding: 30px 0;
    }

    .game_start_btn h1 {
        line-height: 3;
    }

    .game_start_btn button {
        color: #353231;
        border: 0;
        width: 200px;
        background-color: #eeeae2;
        border-radius: 25px;
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.3rem;
        line-height: 2;
        cursor: pointer;
        transition: 0.5s;
        animation: p_start 2s linear infinite;
    }
    @keyframes p_start {
        50%{
            letter-spacing: 0.5rem;
            transform: scale(.8);
        }
    }

    .game_start_btn button:hover {
        background-color: #ab8a49;
        color: #eeeae2;
    }

    .space::before {
        content: "";
        margin: 30%;
    }
    .psychol_test_mobile {
        display: none;
    }
    // 心理測驗 Rwd
    @media (max-width: 320px) {
        .psychol_test_mobile .test_title {
            font-size: 14px;
        }
    }
    @media (max-width: 640px) {
        .psychol_test_bac{
            display: none;
        }
        .psychol_test_mobile{
            display: block;
        }
        .psychol_test_mobile .test_title h1{
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        .psychol_test_mobile .test_title p{
            font-size: 16px;
            font-weight: lighter;
            margin-bottom: 50px;
        }
        
        .psychol_test_mobile .game_start_btn {
            border: 1px solid #eeeae2;
            border-radius: 25px;
            width: 350px;
        }
        .psychol_test_mobile .game_start_btn h1{
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            letter-spacing: 3px;
        }
        .psychol_test_mobile .game_start_btn a{
            font-size: 16px;
            letter-spacing: 2px;
        }
        .psychol_test_mobile .game_start_btn button {
            color: #353231;
            border: 0;
            width: 150x;
            background-color: #eeeae2;
            border-radius: 25px;
            font-weight: bold;
            line-height: 2;
        }
    }

}