.psychol_test_wrapper {
    /* 心理測驗題目 */
    a{
        text-decoration: none;
        color: #353231;
    }
    .psychol_test_content {
        background-color: #eeeae2;
        color: #353231;
    }

    .psychol_title h1 {
        font-size: 1.5rem;
        letter-spacing: 1rem;
        line-height: 5;
        margin-left: 6%;
        text-align: left;
        font-weight: bold;
    }

    .test_q1 {
        text-align: center;
    }

    .test_question h3 {
        font-weight: bold;
    }

    .question_img img {
        height: 200px;
        border-radius: 25px;
        border: 1px solid #353231;
        margin-bottom: 50px;
    }

    .option {
        display: flex;
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .test_question ul {
        justify-content: space-between;
        align-items: center;
    }

    .option button {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        border: 1px solid #353231;
        background-color: #c3bdb3;
        cursor: pointer;
        transition: 0.5s;
    }

    .option button:hover {
        background-color: #ab8a49;
    }

    .test_question h3 {
        font-size: 1.2rem;
        letter-spacing: 5px;
    }

    label {
        margin: 40px;
        margin-left: 50px;
        margin-right: 50px;
        vertical-align: middle;
        line-height: 25px;
    }
    input[type='radio'] {
        vertical-align: bottom;
        accent-color: #ab8a49;
        width:30px;
        height:30px;
        border:1px solid #353231;
        border-radius:50%;
        outline:none;
        margin-right : 10px;
        cursor: pointer;
    }
    .next_q{
        border: 0;
        font-weight: bold;
        background-color: #353231;
        color: #eeeae2;
        // border-radius: 10px 10px 30px 10px;
        border-radius: 5px;
        letter-spacing: 5px;
        line-height: 2;
        transition: .5s;
        width: 120px;
        // margin-left: 50%;
        margin-bottom: 50px;
    }
    .next_q:hover{
        background-color: #ab8a49;
        transform: scale(0.9);
    }

    .question {
        display: inline-flex;
        text-align: center;
    }

    .question_img img {
        margin-top: 20px;
    }

    .previous_arrow img {
        margin-right: 50px;
        margin-top: 400px;
        transform: rotatey(-180deg);
    }

    .next_arrow img {
        margin-left: 50px;
        margin-top: 400px;
        transition: 0.5s;
    }
    .next_arrow img:hover {
        filter: sepia(0.5);
    }
    // quiz rwd
    @media (max-width: 480px) {
        .psychol_test_content .question img {
            margin: 0 auto;
            width: 90%;
            height: 100%;
        }
        .psychol_test_content .next_arrow {
            display: none;
        }
        .psychol_test_content  .test_question h3{
            font-size: 16px;
            letter-spacing: 3px;
            margin-top: 50px;
        }
        .psychol_test_content  .test_question .option button {
            width: 40px;
            height: 40px;
            border-radius: 25px;
            border: 1px solid #353231;
            background-color: #c3bdb3;
        }
        .psychol_test_content  .test_question .option li {
            font-size: 20px;
        }
    }
}
