<!-- <link rel="stylesheet" href="../sass/layout/_footer.scss">
<link rel="stylesheet" href="../sass/style.css"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<link rel="shortcut icon" href="../img/logo_icon.png">
<link rel="stylesheet" href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Ashopping_cart%3A"> -->
<title>光緣畫廊 | KUANG YUAN</title>

<footer class="wrapper_footer">

    <div class="footer">
        <div class="footer_top">

            <div class="footer_top_left">
                <div>
                    <img src="../img/logo_icon.png" alt="">
                </div>

                <div class="social_media_icon">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="footer_top_right">
                <div class="gallery_opening">

                    <h6>實體開放時間</h6><br>
                    <p>
                        開放星期一-星期六<br>
                        10:00 - 17:00<br>
                        星期日 14:00 - 17:00<br>
                        依官網公告時程休息
                    </p>
                </div>


                <div class="gallery_address">
                    <h6>實體地址</h6><br>
                    <p>
                        南京東路三段219號5樓<br>
                        104 台北市中山區<br>
                        garelly@gmail.com.tw<br>
                        00-123456789
                    </p>
                </div>
            </div>

        </div>

        <div class="copyright">
            <p>
                2022 garelly. All right reserved.
            </p>
            <div class="policy">
                <p id="c1">
                    Privacy Policy
                </p>
                <p id="c2">
                    Terms of Service
                </p>
            </div>
        </div>
        <div class="copyright_reference">
            <p>本網站為緯育TibaMe前端設計工程師班第74期第三組學員專題成果作品，本平台僅供學習、展示之用。</p>
            <p id="c3">
                參考資源：https://www.behance.net/gallery/118386915/Museum-App-Uffizi-Redesign-Concept-UXUI?tracking_source=search_projects%7Cmuseum
            </p>
        </div>
    </div>

</footer>