<footer class="wrapper_footer">
    <div class="f_bac">
        <div class="f_bottom">
            <div class="left">
                <div class="footer_logo">
                    <a href="./index.html"><img src="./img/logo.png" alt="logo"></a>
                </div>
                <div>
                    <ul class="footer_icon--hori">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <div class="gallery_opening">
                    <h6>實體開放時間</h6><br>
                    <p>
                        開放星期一-星期六
                        10:00 - 17:00<br>
                        星期日 14:00 - 17:00<br>
                        依官網公告時程休息
                    </p>
                </div>
                <div class="gallery_address">
                    <h6>實體地址</h6><br>
                    <p>
                        南京東路三段219號5樓<br>
                        104 台北市中山區<br>
                        garelly@gmail.com.tw<br>
                        00-123456789
                    </p>
                </div>
            </div>
        </div>
        <!-- mobile footer -->
        <div class="mob_footer">
            <div class="mob_footer_main">
                <div>
                    <ul class="footer_icon--level">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
                    </ul>
                    <div class="right">
                        <div class="gallery_opening">
                            <ol class="sub-nav">實體開放時間<i class="fa-solid fa-angle-down" id="tg_m1"></i></ol>
                                <li class="sub_nav-oping">
                                    <p>
                                        開放星期一-星期六
                                        10:00 - 17:00<br>
                                        星期日 14:00 - 17:00<br>
                                        依官網公告時程休息
                                    </p>
                                </li>
                        </div>
                        <div class="gallery_address">
                            <ol class="sub-nav2">實體地址<i class="fa-solid fa-angle-down" id="tg_m2"></i></ol>
                                <li class="sub_nav2-address">
                                    <p>
                                        南京東路三段219號5樓<br>
                                        104 台北市中山區<br>
                                        garelly@gmail.com.tw<br>
                                        00-123456789
                                    </p>
                                </li>
                        </div>
                    </div>
                    <div class="footer_logo">
                        <a href="./index.html"><img src="./img/logo.png" alt="logo"></a>
                    </div>
                    <div class="copyright_mobile">
                        <p>
                            2022 garelly. All right reserved.
                        </p>
                        <p id="c1">Privacy Policy</p>
                        <p id="c2">Terms of Service</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                2022 garelly. All right reserved.
            </p>
            <ul>
                <li>
                    <p id="c1">Privacy Policy</p>
                </li>
                <li>
                    <p id="c2">Terms of Service</p>
                </li>
            </ul>
        </div>
        <div class="copyright_reference">
            <p>本網站為緯育TibaMe前端設計工程師班第74期第三組學員專題成果作品，本平台僅供學習、展示之用。</p>
            <p>
                參考資源：https://www.behance.net/gallery/118386915/Museum-App-Uffizi-Redesign-Concept-UXUI?tracking_source=search_projects%7Cmuseum
            </p>
        </div>
    </div>
    <button id="goBackBtn">
        <i class="fas fa-chevron-up"></i>
    </button>


</footer>

<script src="./js/footer.min.js"></script>