<header class="wrapper_header">
    <div class="header_bac">
        <div class="h_logo">
            <a href="./index.html"><img src="./img/logo.png" alt=""></a>
        </div>
        <div class="h_navbar">
            <div class="h_nav">
                <ul>
                    <li><a href="./login.html"><i class="fa-solid fa-user head_icon"></i></a></li>
                    <li><a href="#" id="cart"><i class="fa-solid fa-cart-shopping head_icon"></i></a></li>
                </ul>
                <nav>
                    <button class="hamburger hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="nav-list">
                        <ul class="nav_top">
                            <ol><a href="./index.html">首頁</a></ol>
                            <ol><a href="./about.html">關於畫廊</a></ol>
                            <ol><a href="./online_gallery.html">線上畫廊</a></ol>
                            <ol><a href="./exhibition.html">當今展覽</a></ol>
                            <ol class="sub-nav">藝術體驗<i id="tg1" class="fas fa-plus-square"></i>
                                <li><a href="./puzzle_choice.html" target="_blank">拼圖遊戲</a></li>
                                <li><a href="./psychol_test.html" id="sub-nav_color2">心理測驗</a></li>
                            </ol>
                            <ol><a href="./shop.html">商品總覽</a></ol>
                            <ol class="sub-nav2">會員中心<i id="tg2" class="fas fa-plus-square"></i>
                                <li><a href="./login.html">註冊/登入</a></li>
                                <li><a href="./member.html">訂單查詢</a></li>
                            </ol>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        
        <div class="shopping-cart">
         
            <div class="row -cart-popup-container">
                <div class="cart-close">
                    <button type="button" class="btn-close" id="btn-cart-close"></button>
                </div>
                <div class="col-12 shopping-cart-items">
                    <div class="row-md-4 -title"> 購物清單</div>
                
                    <div class="row -copyPdc">
                        <div class="col-4">
                            <img class="img-fluid" src="./img/Shop/products/D/p1.png">
                        </div>
                        <div class="col -borderTop">
                            <div class="row text-muted">
                            <li>
                                Ginevra Benci ｜ 複製畫
                            </li>
                                <li>
                                <button type="submit" class="delPdc">移除</button>
                                </li>
                            </div>
                        
                            <div class="row -priceAmount">
                                <div class="col -pdcPrice">&euro; 44.00</div>
                                <div class="col count">
                                    <div class='ctrl'>
                                        <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                        <div class='ctrl__counter'>
                                        <input class='ctrl__counter-input' maxlength='100' type='text' value='0'>
                                        <div class='ctrl__counter-num'>1</div>
                                        </div>
                                        <div class='ctrl__button ctrl__button--increment'>+</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                    
                    
                    <div class="row -copyPdc">
                        <div class="col-4">
                            <img class="img-fluid" src="./img/Shop/products/D/p1.png">
                        </div>
                        <div class="col -borderTop">
                            <div class="row text-muted">
                            <li>
                                Ginevra Benci ｜ 複製畫
                            </li>
                                <li>
                                <button type="submit" class="delPdc">移除</button>
                                </li>
                            </div>
                        
                            <div class="row -priceAmount">
                                <div class="col -pdcPrice">&euro; 44.00</div>
                                <div class="col count">
                                    <div class='ctrl'>
                                        <div class='ctrl__button ctrl__button--decrement'>&ndash;</div>
                                        <div class='ctrl__counter'>
                                        <input class='ctrl__counter-input' maxlength='100' type='text' value='0'>
                                        <div class='ctrl__counter-num'>1</div>
                                        </div>
                                        <div class='ctrl__button ctrl__button--increment'>+</div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>      
                </div>
            </div>

        </div>
     

        <!-- 購物車 -->
        <!-- <div class="shopping-cart">
            <div class="cart-close">
                <button type="button" class="btn-close" id="btn-cart-close"></button>
            </div>
            <ul class="shopping-cart-items">
                <li class="clearfix">
                    <img src="./img/psychol_test/A4.jpg" alt="item1" />
                    <div class="cart_item">
                        <span class="item-name">van Gogh</span>
                        <span class="item-price">$2000
                            <div class="product-quantity">
                                <input type="number" value="" min="1">
                            </div>
                        </span>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="./img/psychol_test/A4.jpg" alt="item1" />
                    <div class="cart_item">
                        <span class="item-name">van Gogh</span>
                        <span class="item-price">$2000
                            <div class="product-quantity">
                                <input type="number" value="" min="1">
                            </div>
                        </span>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="./img/psychol_test/A4.jpg" alt="item1" />
                    <div class="cart_item">
                        <span class="item-name">van Gogh</span>
                        <span class="item-price">$2000
                            <div class="product-quantity">
                                <input type="number" value="" min="1">
                            </div>
                        </span>
                    </div>
                </li>
                <a href="./checkout1.html" id="button">前往結帳</a>
            </ul>
        </div>  -->
   
        
        
      

    </div>
</header>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="./js/header.min.js"></script>