<header class="wrapper_header">
    <div class="header_bac">
        <div class="h_logo">
            <a href="./index.html"><img src="./img/logo.png" alt=""></a>
        </div>
        <div class="h_navbar">
            <div class="h_nav">
                <ul>
                    <li><a href="./login.html"><i class="fa-solid fa-user head_icon"></i></a></li>
                    <li><a href="#" id="cart"><i class="fa-solid fa-cart-shopping head_icon"></i></a></li>
                </ul>
                <nav>
                    <button class="hamburger hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="nav-list">
                        <ul class="nav_top">
                            <ol><a href="./index.html">首頁</a></ol>
                            <ol><a href="./about.html">關於畫廊</a></ol>
                            <ol><a href="./online_gallery.html">線上畫廊</a></ol>
                            <ol><a href="./exhibition.html">當今展覽</a></ol>
                            <ol class="sub-nav"><a href="">藝術體驗</a><i id="tg1" class="fas fa-plus-square"></i>
                                <li><a href="./puzzle_choice.html" target="_blank">拼圖遊戲</a></li>
                                <li><a href="./psychol_test.html">心理測驗</a></li>
                            </ol>
                            <ol><a href="./shop.html">商品總覽</a></ol>
                            <ol class="sub-nav2"><a href="./member.html">會員中心</a><i id="tg2"
                                    class="fas fa-plus-square"></i>
                                <li><a href="./login.html">註冊/登入</a></li>
                                <li><a href="./member.html">訂單查詢</a></li>
                            </ol>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- 購物車彈窗 -->
        <div class="shopping-cart">
            <div class="cart-close">
                <button type="button" class="btn-close" id="btn-cart-close"></button>
            </div>
            <ul class="shopping-cart-items">
                <li class="clearfix">
                    <img src="./img/psychol_test/A4.jpg" alt="item1" />
                    <div class="cart_item">
                        <span class="item-name">van Gogh</span>
                        <span class="item-price">$2000
                            <div class="product-quantity">
                                <input type="number" value="" min="1">
                            </div>
                        </span>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="./img/psychol_test/A4.jpg" alt="item1" />
                    <div class="cart_item">
                        <span class="item-name">van Gogh</span>
                        <span class="item-price">$2000
                            <div class="product-quantity">
                                <input type="number" value="" min="1">
                            </div>
                        </span>
                    </div>
                </li>
                <li class="clearfix">
                    <img src="./img/psychol_test/A4.jpg" alt="item1" />
                    <div class="cart_item">
                        <span class="item-name">van Gogh</span>
                        <span class="item-price">$2000
                            <div class="product-quantity">
                                <input type="number" value="" min="1">
                            </div>
                        </span>
                    </div>
                </li>
                <a href="#" id="button">前往結帳</a>
            </ul>
        </div> <!--end shopping-cart -->
        
        
      

    </div>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script src="./js/header.min.js"></script>