<!DOCTYPE html>
<html lang="en">

<head>

    <!-- <link rel="stylesheet" href="/dist/css/style.css"> -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/src/sass/style.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="shortcut icon" href="/src/img/logo_icon.png">
    <link rel="stylesheet"
        href="https://fonts.google.com/icons?selected=Material%20Icons%20Outlined%3Ashopping_cart%3A">
</head>

<body>

    <header class="wrapper_header">
        <div class="h_logo">
            <a href="/dist/index.html"><img src="/src/img/logo.png" alt=""></a>
        </div>
        <div class="navbar">
            <div class="nav">
                <ul>
                    <li><a href="/dist/login.html"><i class="fa-solid fa-user head_icon"></i></a></li>
                    <li><a href="/dist/cart.html"><i class="fa-solid fa-cart-shopping head_icon"></i></a></li>
                </ul>
                <nav>
                    <button class="hamburger hamburger--squeeze" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                    <div class="nav-list">
                        <ul class="nav_top">
                            <ol><a href="/dist/index.html">首頁</a></ol>
                            <ol><a href="/dist/about.html">關於畫廊</a></ol>
                            <ol><a href="/dist/online_gallery.html">線上畫廊</a></ol>
                            <ol><a href="/dist/exhibition.html">當今展覽</a></ol>
                            <ol class="sub-nav"><a href="">藝術體驗</a><i id="tg1" class="fas fa-plus-square"></i>
                                <li><a href="/dist/puzzle.html">拼圖遊戲</a></li>
                                <li><a href="/dist/psychol_test.html">心理測驗</a></li>
                            </ol>
                            <ol><a href="/dist/product_info.html">商品總覽</a></ol>
                            <ol class="sub-nav2"><a href="/dist/member.html">會員中心</a><i id="tg2" class="fas fa-plus-square"></i>
                                <li><a href="/dist/login.html">註冊/登入</a></li>
                                <li><a href="/dist/checkout.html">訂單查詢</a></li>
                            </ol>
                        </ul>
                    </div>
                </nav> -->
    <header class="wrapper_header">
        <div class="header_bac">
            <div class="h_logo">
                <a href="/dist/index.html"><img src="/src/img/logo.png" alt=""></a>
            </div>
            <div class="h_navbar">
                <div class="h_nav">
                    <ul>
                        <li><a href="/dist/login.html"><i class="fa-solid fa-user head_icon"></i></a></li>
                        <li><a href="/dist/cart.html"><i class="fa-solid fa-cart-shopping head_icon"></i></a></li>
                    </ul>
                    <nav>
                        <button class="hamburger hamburger--squeeze" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                        <div class="nav-list">
                            <ul class="nav_top">
                                <ol><a href="/dist/index.html">首頁</a></ol>
                                <ol><a href="/dist/about.html">關於畫廊</a></ol>
                                <ol><a href="/dist/online_gallery.html">線上畫廊</a></ol>
                                <ol><a href="/dist/exhibition.html">當今展覽</a></ol>
                                <ol class="sub-nav"><a href="">藝術體驗</a><i id="tg1" class="fas fa-plus-square"></i>
                                    <li><a href="/dist/puzzle_choice.html">拼圖遊戲</a></li>
                                    <li><a href="/dist/psychol_test.html">心理測驗</a></li>
                                </ol>
                                <ol><a href="/dist/shop.html">商品總覽</a></ol>
                                <ol class="sub-nav2"><a href="/dist/member.html">會員中心</a><i id="tg2"
                                        class="fas fa-plus-square"></i>
                                    <li><a href="/dist/login.html">註冊/登入</a></li>
                                    <li><a href="/dist/checkout.html">訂單查詢</a></li>
                                </ol>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        referrerpolicy="no-referrer"></script>
    <script src="/dist/js/header.min.js"></script>
